doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Appeler et rechercher une API avec Fetch et .map

    link(rel="stylesheet", href="./assets/css/index.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body

    main.component 
      h1 Les films populaires actuels sur TMDB

      ul#results.component__wrap-movies

      div(data-ref="infiniteScrollerTrigger" id="component__scroll-trigger")
          i.fas.fa-spinner.fas-spin


    script(src="./assets/js/index.js") 