doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Appeler et rechercher une API avec Fetch et .map

    link(rel="stylesheet", href="./assets/css/index.css")
  body

    main.component 
      h1 the movie db
      input(type="text", name="", id="seacrh", placeholder="Entrez le nom du film", autocomplete="off")

      ul#results.component__wrap-movies


    script(src="./assets/js/index.js") 