*, ::before, ::after, ul {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

@mixin aspect-ratio($width, $height, $displayType: block, $important:false) {

  display: $displayType;
  position: relative;
  height: 0;

  @if $important {
    padding-top: ($height / $width) * 100% !important;
  }
  @else {
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.component, #component {
  min-height: 100vh;
  margin: 0 1rem;
  text-align: center;

  h1 {
    text-transform: uppercase;
    padding: 3rem 0;
    letter-spacing: .5px;
  }

  input {
    margin-bottom: 2rem;
    border-radius: 50px;
    padding: .5rem 3rem;
    width: 500px;
    outline: none;
    border: 1px solid #333;
    color: #333;
    font-size: 1rem;
    text-align: center;
  }

  &__wrap-movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__wrap-movie {
    width: 25%;
    padding: 10px;
    transition: all 480ms;
    overflow: hidden;
    position: relative;
  }

  &__wrap-picture picture {
    @include aspect-ratio(440, 660);
  }

  &__wrap-texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: #fff;
    z-index: 100;
  }

  &__wrap-picture {
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    &::before {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(34, 34, 34, 0.24);
    }
  }

  &__scroll-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.6rem;
  }

  @media screen and (max-width: 968px) {

    &__wrap-movie {
      width: 50%;
    }
  }
}