*, ::before, ::after, ul {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif; }

.component {
  min-height: 100vh;
  margin: 0 1rem;
  text-align: center; }
  .component h1 {
    text-transform: uppercase;
    padding: 3rem 0;
    letter-spacing: .5px; }
  .component input {
    margin-bottom: 2rem;
    border-radius: 50px;
    padding: .5rem 3rem;
    width: 500px;
    outline: none;
    border: 1px solid #333;
    color: #333;
    font-size: 1rem;
    text-align: center; }
  .component__wrap-movies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .component__wrap-movie {
    width: 25%;
    padding: 10px;
    -webkit-transition: all 480ms;
    -o-transition: all 480ms;
    transition: all 480ms;
    overflow: hidden;
    position: relative; }
  .component__wrap-picture picture {
    display: block;
    position: relative;
    height: 0;
    padding-top: 150%; }
    .component__wrap-picture picture img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .component__wrap-texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: #fff;
    z-index: 100; }
  .component__wrap-picture {
    position: relative;
    overflow: hidden;
    border-radius: 8px; }
    .component__wrap-picture::before {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(34, 34, 34, 0.24); }
  @media screen and (max-width: 968px) {
    .component__wrap-movie {
      width: 50%; } }
